body {
    background-color: rgb(204, 224, 224);
    background-image: linear-gradient(to bottom, rgb(204, 224, 224), rgb(14, 57, 57));
    margin: 0px;
}

.title-bar {
    background-color: rgb(47, 117, 134);
    display: flex;
    margin: 0px;
    padding: -5px;
    flex-direction: column;
}

.topbar-logo-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topbar-logo-wrapper > * {
    max-height: 150px;
    width: auto;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

ul > * {
    flex: 1 1 18.5em;

}


li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 4em;
    margin: 0;
    background-color: rgb(47, 117, 134);
    border: solid rgb(47, 117, 134);
    box-shadow: 0px 3px rgb(162, 196, 204);
    color: rgb(232, 238, 239);
    font-weight: bold;
    transition: .5s;
}

@media screen and (max-width: 980px) {
    .topbar-logo-middle, .topbar-logo-right {
        display: none;
    }
}

li:hover {
    cursor: pointer;
    background-color:rgb(162, 196, 204);
    border: solid rgb(162, 196, 204);
    color: rgb(47, 117, 134);
}

li:active {
    background-color: rgb(202, 207, 208);
    border: solid rgb(202, 207, 208);
    box-shadow: 0px 3px rgb(202, 207, 208);
}


.hero-wrapper, .group2-wrapper, .group3-wrapper, .group4-wrapper {
    display: flex;
}

.hero-text, .group3-text > h1 {
    font-size: 4rem;;
}

.hero-text, .group3-text > p {
    font-size: 1.5rem;
}

.hero-image, .group3-image {
    max-width: 45%;
    padding: 3rem;
    border-radius: 45% 15% 45% 15%;
}

.group2-image, .group4-image {
    max-width: 45%;
    padding: 3rem;
    border-radius: 15% 45% 15% 45%;
}


.hero-text, .group3-text {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.group2-text, .group4-text {
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.group2-text, .group4-text > h1 {
    font-size: 4rem;
}

.group2-text, .group4-text > p {
    font-size: 1.5rem;
    text-align: right;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.footer-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    max-width: 412px;

}

footer {
    height: 5rem;
    margin-top: 2rem;
    background-color: rgb(163, 110, 5);
    display: flex;
    align-items: center;
    justify-content: center;

}
